%section.billing.container
  .row
    .span10.offset1
      .plan_and_payments
        %section.plan
          %header
            %h1 Billing
          %table.table
            %thead
              %tr
                %th
                %th Next Billing Date
                %th Price
            %tbody
              %tr
                %td The All You Can Watch Plan
                %td= @date
                %td 9.99 per month
